In [28]:
import pandas as pd
import numpy as np

In [2]:
file_path = 'Download/Pydroid3/FoodBalanceSheets_E_Africa_NOFLAG.csv'

In [3]:
df = pd.read_csv(file_path, encoding='latin-1')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [5]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

## Question: What is the total sum of Wine produced in 2015 and 2018 respectively?

In [68]:
df.groupby('Item')[['Y2015', 'Y2018']].sum().loc['Wine']

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

_**Answer:**_

4251.81 and 4039.32

## Question: Which year had the least correlation with ‘Element Code’?

In [70]:
df.corr(numeric_only=True).loc['Element Code']

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

_**Answer:**_

Y2016 (0.23444)

## Question: What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [12]:
# sum of missing data in 2014
num_missing_data_2014 = df.Y2014.isna().sum()
num_missing_data_2014

1589

In [15]:
# total data 2014
total_data_2014 = df.Y2014.count()
total_data_2014

59354

In [16]:
# calculate % missing data
(num_missing_data_2014 * 100) / total_data_2014

2.677157394615359

_**Answer:**_

1589 and 2.677%

## Question: What is the total number of unique countries in the dataset?

In [18]:
df.Area.drop_duplicates().count()

49

_**Answer:**_

49

## Question: Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [39]:
# get 2017 sums by Area
sum_2017 = df.groupby('Area')['Y2017'].sum()
sum_2017

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [41]:
# get 7th-lowest sum
lowest_7th = np.sort(sum_2017.values)[6]
lowest_7th

19102.77

In [42]:
# retrieve area with 7th-lowest sum
sum_2017[sum_2017 == lowest_7th]

Area
Guinea-Bissau    19102.77
Name: Y2017, dtype: float64

_**Answer:**_

Guinea-Bissau

## Question: What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [43]:
df.Y2017.mean()

140.9177648602722

In [44]:
df.Y2017.std()

1671.8623590567995

_**Answer:**_

140.92 and 1671.86

## Question: Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [45]:
# get 7th-lowest sum
highest_sum = np.sort(sum_2017.values)[-1]
highest_sum

1483268.23

In [46]:
# retrieve area with 7th-lowest sum
sum_2017[sum_2017 == highest_sum]

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

_**Answer:**_

Nigeria

# Question: Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [52]:
sum_by_elem = (df.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum())
sum_by_elem

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [54]:
# extract Stock Variation row
stk_var = sum_by_elem.loc['Stock Variation']
stk_var

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
Name: Stock Variation, dtype: float64

In [55]:
# get highest sum
stk_var_max = stk_var.max()
stk_var_max

58749.83

In [56]:
# use max to filter stk_var Series
stk_var[stk_var == stk_var_max]

Y2014    58749.83
Name: Stock Variation, dtype: float64

_**Answer:**_

Y2014

## Question: Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [58]:
sum_by_elem.loc['Processing'].Y2017

292836.0

_**Answer:**_

292836.0

## Question: What is the total Protein supply quantity in Madagascar in 2015?

In [66]:
sum_by_elem_area = (df.groupby(['Element', 'Area'])['Y2015'].sum())
(sum_by_elem_area['Protein supply quantity (g/capita/day)']).Madagascar

173.05

_**Answer:**_

Madagascar (173.05)